<h1>All Posts</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Content</th>
    <th>Username</th>
    <th>Category</th>
  </tr>

  <% @posts.each do |post| %>
    <tr>
      <td><%= post.title %></td>
      <td><%= post.content %></td>
      <td><%= post.user.username %></td>
      <td><%= post.category.name %></td>
    </tr>
  <% end %>
</table>
